* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Press Start 2P', cursive;
    background-color: #ffffff;
    background: url(https://cdnb.artstation.com/p/assets/images/images/006/771/819/large/daka-dibuja-5-manana.jpg?1501127228&dl=1);
    color: black;
}

.startButton {
    padding: 20px;
    border: none;
    background-color: green;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 240px;
    background: #0040ff;
}

.logo {
    width: 244px;
    height: 144px;
    display: inline-block;
    margin-right: auto;
    margin-left: 5px;
    margin-top: 5px;
}

header ul li {
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
}
header ul {
    text-align: right;
}

.score {
    position: relative;
    float: right; 
    text-align: left;
}

.quizStart { 
    margin: 225px;
    text-align: center;
}

.headingImg {
    display: inline-block;
}

span .questionNumber{
    /* text-align: left; */
}


